.blur {
  width: 100%;
  height: 100%;
  opacity: 0.9;
  background: $menucolor;
  position: fixed;
  z-index: -1;
  transition: z-index 0.3s, opacity 0.5s ease;
}
.aside {
  min-width: 320px;
  min-height: 100%;
  background-color: $menucolor;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2);
  transform: translateX(-120%);
  transition: 1s ease;
  @media (max-width: 480px) {
    width: 100vw;
  }
  @media (min-width: 1230px) {
    position: static;
    transform: translateX(0%);
    z-index: 2;
  }
  .aside__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .aside__header {
      margin-bottom: 2vh;
      .aside__header-menu {
        padding: 16px 16px;
        display: flex;
        align-items: center;
        gap: 1.5em;
        .btn__close {
          background-color: $menucolor;
        }
        .btn__close:hover {
          transform: scale(1.3);
          opacity: 0.8;
          transition: 0.5s;
        }
        .menu__btn {
          background-color: $menucolor;
        }
        .menu__btn:hover {
          transform: scale(1.3);
          opacity: 0.8;
          transition: 0.5s;
        }
        .btn__search {
          background-color: $menucolor;
          margin-left: auto;
          transition: 0.5s;
        }
        .btn__search:hover {
          transform: scale(1.3);
          opacity: 0.8;
          transition: 0.5s;
        }
      }
    }
    .aside__main {
      margin-bottom: 30px;

      @media (min-width: 1230px) {
        margin-bottom: 160px;
      }
      .aside__list {
        .aside__item {
          margin-top: 2vh;
          .aside__link {
            display: flex;
            align-items: center;
            gap: 1.5em;
            color: $namecolor;
            font-family: 'TT Lakes Medium';
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px; /* 150% */
            letter-spacing: -0.2px;
            .aside__hightlighter {
              border-top-right-radius: 3px;
              border-bottom-right-radius: 3px;
              width: 4px;
              height: 30px;
              background-color: transparent;
              margin-right: 1vw;
            }
          }
          .aside__link:focus {
            color: #7e7e82;
            .aside__hightlighter {
              background-color: $higlighter;
            }
          }
        }
      }
    }
    .aside__foooter {
      flex: 0 0 auto;
      padding: 16px 16px;
      .aside__foooter-menu {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 16px;
        margin-bottom: 15px;
        .aside__footer-btn {
          background-color: $menucolor;
        }
        .aside__footer-btn:hover {
          opacity: 0.9;
          transition: 0.5s ease;
          transform: scale(1.3);
        }
      }
      .aside__footer-mail {
        margin-bottom: 2vh;
        color: $namecolor;
        font-family: 'TT Lakes Medium';
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 150% */
        letter-spacing: -0.2px;
      }
      .aside__footer-phone {
        color: $namecolor;
        font-family: 'TT Lakes Bold';
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px; /* 133.333% */
        letter-spacing: -0.6px;
        margin-bottom: 2vh;
      }
      .aside__footer-lang {
        .lang__btn {
          background-color: $menucolor;
          color: $namecolor;
          font-family: 'TT Lakes Medium';
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px; /* 150% */
          letter-spacing: -0.2px;
        }
        .lang__btn:hover {
          color: $bordercolor;
        }
      }
    }
  }
}
.active__blur {
  z-index: 6;
  transition: 0.5s;
}
.active {
  transform: translateX(0%);
}
